In [1]:
import pandas as pd

In [2]:
ppt = 0.3
num_class = 10

In [3]:
df = pd.read_csv('./train_10_classes.csv')

In [4]:
df.head()

    filename  class
0  16458.jpg      0
1  79075.jpg      0
2  45720.jpg      0
3  73492.jpg      0
4  28974.jpg      0

In [5]:
df_sample = df.copy()
df_sample.drop(df_sample.index, inplace=True)
for i in range(num_class):
    dfc = df[df['class'] == i]
    l = int(len(dfc) * ppt)
    dfc = dfc.sample(n=l)
    df_sample = df_sample.append(dfc)

In [6]:
df_sample.to_csv('train_10_classes_30.csv')

In [7]:
df_sample

         filename  class
996     46851.jpg      0
2474    69764.jpg      0
3886    29048.jpg      0
4940    19155.jpg      0
2421    83234.jpg      0
...           ...    ...
54821  100163.jpg      9
55033   86972.jpg      9
53391   59299.jpg      9
56310   83517.jpg      9
57371   59110.jpg      9

[17503 rows x 2 columns]