In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('train_all_info.csv')
# df.drop(columns=['filename'], inplace=True)
display(df)
print(df['date'].nunique())
hist = df.hist(bins=df['date'].nunique())
hist

         filename  date
0       91159.jpg  1982
1       13628.jpg  1874
2       65966.jpg  1610
3      101264.jpg  1914
4       12536.jpg  1921
...           ...   ...
58349    7707.jpg  1920
58350   74872.jpg  1909
58351  100163.jpg  1975
58352   55664.jpg  1914
58353   13631.jpg  1874

[58354 rows x 2 columns]

647

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x1152ed750>]],
      dtype=object)

In [2]:
df.sort_values(by=['date'], inplace=True)
length = len(df)
idx1 = int(length / 5)
idx2 = int(2 * length / 5)
idx3 = int(3 * length / 5)
idx4 = int(4 * length / 5)
if (idx1 == idx2 or idx2 == idx3 or idx3 == idx4):
    print("WE HAVEN'T ACCOUNTED FOR THIS CASE YET")
r1 = df.iloc[idx1]
i1 = r1['date']
r2 = df.iloc[idx2]
i2 = r2['date']
r3 = df.iloc[idx3]
i3 = r3['date']
r4 = df.iloc[idx4]
i4 = r4['date']
print(i1,  i2, i3, i4)

1836 1891 1913 1944

In [3]:
df['class'] = np.zeros
df['class'].loc[df['date'] <= i1] = 0
df['class'].loc[(df['date'] > i1) & (df['date'] <= i2)] = 1
df['class'].loc[(df['date'] > i2) & (df['date'] <= i3)] = 2
df['class'].loc[(df['date'] > i3) & (df['date'] <= i4)] = 3
df['class'].loc[df['date'] > i4] = 4
df.drop(columns=['date'], inplace=True)
df['class'] = df['class'].astype(int)
df.to_csv('train_all_classes.csv', index = False, header=True)
df.groupby('class').count()

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

       filename
class
0         11678
1         12036
2         11335
3         11675
4         11630

In [4]:
df

        filename  class
30259  16458.jpg      0
31695  79075.jpg      0
13559  45720.jpg      0
6629   73492.jpg      0
27023  28974.jpg      0
...          ...    ...
56008  47856.jpg      4
17621  70689.jpg      4
4099   51168.jpg      4
51289  66284.jpg      4
13813  37201.jpg      4

[58354 rows x 2 columns]